<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.feicuiedu.hybridappdemo"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".case1.Case1Activity"
            android:label="案例一">
        </activity>
        <activity
            android:name=".case2.Case2Activity"
            android:label="案例二">
        </activity>
        <activity
            android:name=".case3.Case3Activity"
            android:label="案例三">
        </activity>
    </application>

</manifest>